@font-face {
  font-family: "Fredoka";
  src:
    url("./assets/fonts/Fredoka-Regular.woff2") format("woff2"),
    url("./assets/fonts/Fredoka-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src:
    url("./assets/fonts/Nunito-Regular.woff2") format("woff2"),
    url("./assets/fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src:
    url("./assets/fonts/Nunito-Medium.woff2") format("woff2"),
    url("./assets/fonts/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "Nunito";
  src:
    url("./assets/fonts/Nunito-Bold.woff2") format("woff2"),
    url("./assets/fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-display: swap;
}

:root {
  --font-stack:
    system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --accent-color: #4ec2ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "Nunito", var(--font-stack);
  padding: 1rem;
  max-width: 1200px;
  max-height: 100dvh;
  margin: auto;
  line-height: 1.5;
}

h1 {
  font-family: "Fredoka", var(--font-stack);
  font-size: 2.5rem;
  margin-right: auto;
}

.header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.header form label,
.header form button {
  display: none;
}

.header form input {
  width: 585px;
  height: 35px;
  padding: 1rem;
  border-radius: 25px;
  border: 2px solid var(--accent-color);
  margin-right: 1rem;
}

.header .unit-toggle-btn {
  font-family: Nunito, var(--font-stack);
  cursor: pointer;
  background: none;
  padding: 0.5rem 1rem;
  border-radius: 25px;
  border: 2px solid var(--accent-color);
}

.header .unit-toggle-btn:hover {
  background-color: #4ec1ff44;
}

.weather-data-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.todays-data-container {
  padding: 2rem 8rem 2rem 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 25px;
  background-color: #fff;
  margin-bottom: 2rem;
}

.basic-info-container {
  max-width: 35%;
}

.condition {
  font-size: 2.5rem;
  font-weight: 700;
}

.location {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.icon-and-temp-container {
  display: flex;
  gap: 1.5rem;
  font-size: 6rem;
}

.icon-and-temp-container img {
  width: 120px;
  height: 120px;
}

.expanded-info-container img {
  width: 40px;
  height: 40px;
}

.detailed-temp-container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.highest-lowest-container {
  display: flex;
  gap: 1rem;
}

.expanded-info-container,
.expanded-info-column {
  display: flex;
  gap: 2rem;
}

.expanded-info-column {
  flex-direction: column;
}

.expanded-info-container .info-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.next-five-days-data-container {
  padding: 2rem 8rem 2rem 4rem;
  border-radius: 25px;
  background-color: #fff;
}

.next-five-days-details-container {
  display: flex;
  justify-content: space-between;
}

.next-five-days-data-container h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.day-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.icon-container {
  padding: 1.5rem 1.7rem;
  border-radius: 50px;
  border: 2px solid var(--accent-color);
}

.day-highest-lowest-container {
  display: flex;
  gap: 1rem;
}
